<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- account setting page -->
        <section id="page-account-settings">
            <div class="row nav-vertical d-flex">
                <div class="col-md-3 mb-2 mb-md-0">
                    <ul ngbNav #navVertical="ngbNav" class="nav nav-pills flex-column nav-left">
                        <li class="nav-item" ngbNavItem>
                            <a
                                    ngbNavLink
                                    class="nav-link d-flex py-75"
                                    id="account-pill-general"
                                    data-toggle="pill"
                                    href="#account-vertical-general"
                                    aria-expanded="true">
                                <i data-feather="user" class="font-medium-3 mr-1"></i>
                                <span class="font-weight-bold">Générale</span>
                            </a>

                            <ng-template ngbNavContent>
                                <span *ngIf="chargement" class="spinner-border spinner-border-sm mr-1"></span>

                                <div class="card" *ngIf="!chargement">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label for="profil-email">Adresse email</label>
                                                    <input
                                                            type="text"
                                                            class="form-control"
                                                            id="profil-email"
                                                            name="email"
                                                            value="{{dataUser.email}}"
                                                            disabled
                                                    />
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label for="profil-nom">Nom</label>
                                                    <input
                                                            type="text"
                                                            class="form-control"
                                                            id="profil-nom"
                                                            name="nom"
                                                            value="{{dataUser.nom}}"
                                                            disabled
                                                    />
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label for="profil-prenom">Prenom</label>
                                                    <input
                                                            type="email"
                                                            class="form-control"
                                                            id="profil-prenom"
                                                            name="prenom"
                                                            value="{{dataUser.prenom}}"
                                                            disabled
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </li>


                        <li class="nav-item" ngbNavItem>
                            <a
                                    ngbNavLink
                                    class="nav-link d-flex py-75"
                                    id="account-pill-password"
                                    data-toggle="pill"
                                    href="#account-vertical-password"
                                    aria-expanded="false">
                                <i data-feather="lock" class="font-medium-3 mr-1"></i>
                                <span class="font-weight-bold">Changer le mot de passe</span>
                            </a>

                            <ng-template ngbNavContent>
                                <div class="card">
                                    <div class="card-body">
                                        <!-- form -->
                                        <form class="validate-form" [formGroup]="formMDP">
                                            <div class="row">
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="profil-ancien-mdp">Ancien mot de passe</label>
                                                        <div class="input-group form-password-toggle input-group-merge">
                                                            <input
                                                                    [type]="passwordTextTypeOld ? 'text' : 'password'"
                                                                    class="form-control"
                                                                    id="profil-ancien-mdp"
                                                                    name="mdp"
                                                                    formControlName="ancienMotDePasse"
                                                                    placeholder="Ancien mot de passe"
                                                            />
                                                            <div class="input-group-append">
                                <span class="input-group-text cursor-pointer"
                                ><i
                                        class="feather font-small-4"
                                        [ngClass]="{
                                      'icon-eye-off': passwordTextTypeOld,
                                      'icon-eye': !passwordTextTypeOld
                                    }"
                                        (click)="togglePasswordTextTypeOld()"
                                ></i
                                ></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="profil-nouveau-mdp">Nouveau mot de passe</label>
                                                        <div class="input-group form-password-toggle input-group-merge">
                                                            <input
                                                                    [type]="passwordTextTypeNew ? 'text' : 'password'"
                                                                    id="profil-nouveau-mdp"
                                                                    name="nouveau-mdp"
                                                                    class="form-control"
                                                                    formControlName="nouveauMotDePasse"
                                                                    placeholder="Nouveau mot de passe"
                                                            />
                                                            <div class="input-group-append">
                                <span class="input-group-text cursor-pointer"
                                ><i
                                        class="feather font-small-4"
                                        [ngClass]="{
                                      'icon-eye-off': passwordTextTypeNew,
                                      'icon-eye': !passwordTextTypeNew
                                    }"
                                        (click)="togglePasswordTextTypeNew()"
                                ></i
                                ></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="profil-confirmation-mdp">Retaper le nouveau mot de passe</label>
                                                        <div class="input-group form-password-toggle input-group-merge">
                                                            <input
                                                                    [type]="passwordTextTypeRetype ? 'text' : 'password'"
                                                                    class="form-control"
                                                                    id="profil-confirmation-mdp"
                                                                    name="confirm-nouveau-mdp"
                                                                    formControlName="confirmMotDePasse"
                                                                    placeholder="Nouveau mot de passe"
                                                            />
                                                            <div class="input-group-append">
                                <span class="input-group-text cursor-pointer"
                                ><i
                                        class="feather font-small-4"
                                        [ngClass]="{
                                      'icon-eye-off': passwordTextTypeRetype,
                                      'icon-eye': !passwordTextTypeRetype
                                    }"
                                        (click)="togglePasswordTextTypeRetype()"
                                ></i
                                ></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <button (click)="onSubmit()" class="btn btn-primary mr-1 mt-1" rippleEffect>Sauvegarder</button>
                                                    <button type="reset" class="btn btn-outline-secondary mt-1" rippleEffect>Cancel</button>
                                                </div>
                                            </div>
                                        </form>
                                        <!--/ form -->
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                    </ul>
                </div>
                <div [ngbNavOutlet]="navVertical" class="col-12 col-md-9"></div>
            </div>
        </section>
        <!--/ account setting page -->
    </div>
</div>
